<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">!Aviso!</h4>
                <p class="card-description">
                    El Valor minimo de deposito debe de ser de $20.<br>
                    El deposito se validara de 5 a 30 minutos.
                </p>
                <br>
                <form [formGroup]="form" (submit)="registrar()">
                    <div class="form-group">
                        <label>Valor del deposito</label>
                        <input class="form-control" type="number" step="0.01" min="20" max="9999"
                            formControlName="valor" required>
                    </div><br>
                    <div class="form-group">
                        <label>Banco / Cooperativa</label>
                        <select class="form-control" style="background-color: #1a2035;" formControlName="banco"
                            required>
                            <option value="Coopertativa JEP">Coopertativa JEP</option>
                            <option value="Banco Pichincha">Banco Pichincha</option>
                            <option value="Banco Guayaquil">Banco Guayaquil</option>
                            <option value="Produbanco">Produbanco</option>
                        </select>
                    </div><br>
                    <div class="form-group">
                        <label>Número del comprobante</label>
                        <input class="form-control" type="text" formControlName="comprobante" required>
                    </div><br>
                    <div>
                        Imagen del comprobante<br>
                        <input class="mt-1" type="file" #fileUploader>
                    </div><br>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-round btn-primary">Registrar</button>
                    </div><br>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="../../assets/img/letreros/deposito.jpeg" width="100%">
        </div>
    </div>
</div>