<div class="offline-doc">
    <div class="page-header clear-filter">
        <div class="page-header-image" style="background-image: url('../assets/img/background.jpg');"></div>
        <div class="content-center">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header">
                        <img src="../../assets/img/logo.png" width="200">
                    </div>
                    <div class="card-body row justify-content-center">
                        <div class="col-md-8">
                            <h6>Ingrese su correo</h6>
                            <div class="input-group">
                                <input type="email" class="form-control" name="email" placeholder="Correo"
                                    [formControl]="email">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" (click)="send()">
                                    Enviar
                                </button>
                                <a class="btn btn-secondary" routerLink="/login">
                                    Atras
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card card-chart text-center" style="height: 450px;">
                <div class="card-body">
                    <h4 class="card-title">Inicia hoy mismo</h4>
                    <p class="card-category">
                        Deposito minimo $20, Tu saldo se acreditara de forma inmediata y obtendras la mejor
                        comisión del
                        mercado.
                    </p>
                    <a class="nav-link" href="http://zonagamerstore.com/srffWeb/faces/registro/registro.xhtml">
                        ¡Registrate Aqui!
                    </a>
                </div>
            </div> -->
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="copyright float-center">
                ©2021 Zona Gamer
            </div>
        </div>
    </footer>
</div>