<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <!-- <a href="https://www.creative-tim.com">
                        Facebook
                    </a> -->
                    <a style="color: #4267B2;" href="https://www.facebook.com/zonapcgamerstore" target="_blank">
                        Facebook
                    </a>
                </li>
                <li>
                    <!-- <a href="https://creative-tim.com/presentation">
                        WhatsApp
                    </a> -->
                    <a style="color: #128C7E;" href="https://wa.me/593996239606" target="_blank" *ngIf="!usuario?.vip">
                        WhatsApp
                    </a>
                </li>
                <!-- <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="copyright float-right" id="date">
            &copy;{{year}} Zona Gamer
        </div>
    </div>
</footer>