<div class="row text-center">
    <div class="col-sm-6 col-xxl-4 mb-4">
        <img src="../../assets/img/letreros/x.jpeg" height="500px">
        <a class="btn btn-round btn-info" download="zona_gamer.jpeg"
            href="../../assets/img/letreros/x.jpeg">
            Descargar
        </a>
    </div>
    <div class="col-sm-6 col-xxl-4 mb-4">
        <img src="../../assets/img/letreros/7.jpeg" height="500px">
        <a class="btn btn-round btn-info" download="zona_gamer.jpeg"
            href="../../assets/img/letreros/7.jpeg">
            Descargar
        </a>
    </div>
    <div class="col-sm-6 col-xxl-4 mb-4">
        <img src="../../assets/img/letreros/1.jpeg" height="500px">
        <a class="btn btn-round btn-info" download="zona_gamer.jpeg"
            href="../../assets/img/letreros/1.jpeg">
            Descargar
        </a>
    </div>
    <div class="col-sm-6 col-xxl-4 mb-4">
        <img src="../../assets/img/letreros/2.jpeg" height="500px">
        <a class="btn btn-round btn-info" download="zona_gamer.jpeg"
            href="../../assets/img/letreros/2.jpeg">
            Descargar
        </a>
    </div>
    <div class="col-sm-6 col-xxl-4 mb-4">
        <img src="../../assets/img/letreros/3.jpeg" height="500px">
        <a class="btn btn-round btn-info" download="zona_gamer.jpeg"
            href="../../assets/img/letreros/3.jpeg">
            Descargar
        </a>
    </div>
    <div class="col-sm-6 col-xxl-4 mb-4">
        <img src="../../assets/img/letreros/4.jpeg" height="500px">
        <a class="btn btn-round btn-info" download="zona_gamer.jpeg"
            href="../../assets/img/letreros/4.jpeg">
            Descargar
        </a>
    </div>
    <div class="col-sm-6 col-xxl-4 mb-4">
        <img src="../../assets/img/letreros/5.jpeg" height="500px">
        <a class="btn btn-round btn-info" download="zona_gamer.jpeg"
            href="../../assets/img/letreros/5.jpeg">
            Descargar
        </a>
    </div>
    <div class="col-sm-6 col-xxl-4 mb-4">
        <img src="../../assets/img/letreros/6.jpeg" height="500px">
        <a class="btn btn-round btn-info" download="zona_gamer.jpeg"
            href="../../assets/img/letreros/6.jpeg">
            Descargar
        </a>
    </div>
</div>